body {
  margin: 0;
  padding: 0;
  background-color: rgb(248,248,248);
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 40px;
  line-height: 40px;
}
.header{
  max-width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0px;
}
.header::after{
  content: '';
  position: absolute;
  display: inline-block;
  height: 60px;
  background-color: #fff;
  top:0;
  left:0;
  right:0;
  z-index: -1;
}
.buttons-container{
  display: flex;
  gap: 10px;
}
.button{
  width: 100px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height:26px;
  background-color: #F4E041;
  cursor: pointer;
  border: none;
  color: #000;
}
.hiddenElement{
  display: none
}
.button:disabled{
  background-color: #B4B4B4;
  border: none;
  color: #fff;
  cursor: default;
}
.blocks-container{
  min-width: 360px;
  width: 1170px;
  margin-bottom: 30px;
}
.picture-block-container{
  width: 100%;
  height:650px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/img/pexels-alexandr-podvalny-1227513-min.jpeg);
  background-repeat:round;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}
.discription-container{
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  width: 380px;
  user-select: none;
}
.discription-title{
  margin-bottom: 21px;
}
.discription-text{
  margin-bottom: 36px;
}
.users-list{
  margin-bottom: 54px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 29px;
}
.user-container{
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
	text-overflow: ellipsis;
}
.user-photo, .user-name{
  display: flex;
  justify-content: center;
}
.user-photo img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.user-discription{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-name, .user-discription div{
  overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.usersblock-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 144px;
}
.form-block-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}
.request-title{
  margin-bottom: 50px;
}
.input-forms-container{
  margin-bottom: 50px;
  width: 380px;
}
.input-text-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 43px;
}
.input-text-wrapper{
  width: 100%;
  position: relative;
  
}
.input-text{
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  outline: none;
  color: #7E7E7E;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  padding-left: 16px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  transition: .3s;
  background-color: transparent;
}
.input-text-label{
  position: absolute;
  top:14px;
  left:16px;
  user-select: none;
  color: #7E7E7E;
  transition: 0.3s;
  background-color: rgb(248,248,248);
  z-index: 1;
}
.input-text:focus ~ .input-text-label, .input-text:not(:placeholder-shown) ~ .input-text-label{
  top:-12px;
  font-size: 12px;
  padding: 0px 4px;
  color:#8c8c8c;
}
.input-text-error{
  position:absolute;
  left: 16px;
  color: #CB3D40;
  font-size: 12px;
}
.input-text-phone-help{
  position:absolute;
  left: 16px;
  color: #7E7E7E;
  font-size: 12px;
}
.input-radio-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 13px;
  margin-bottom: 47px;
}
.input-radio-container label{
  display: flex;
  align-items: center;
  gap: 12px
}
input[type=radio], input[type=file]{
  display: none;
}
.custom-radio-checkbox{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #D0CFCF;
  position: relative;
}
.custom-radio-checkbox:hover{
  border: 1px solid #00BDD3;
}
input[type=radio]:checked + .custom-radio-checkbox{
  border: 1px solid #00BDD3;
}
input[type=radio]:checked + .custom-radio-checkbox:before{
  content: '';
  position: absolute;
  background-color: #00BDD3;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: calc(50% - 10px / 2);
  left: calc(50% - 10px / 2);
}
.custom-input-file{
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  cursor: pointer;
}
.custom-input-file-span-one{
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
  padding: 14px 15px;
}
.custom-input-file-span-two{
  border: 1px solid #D0CFCF;
  border-radius: 0px 4px 4px 0px;
  padding: 14px 0px 14px 16px;
  width: 100%;
  display: flex;
  justify-content: start;
  overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.error-request-message{
  position: absolute;
  bottom: 45px;
  color:#CB3D40;
  transition: .2s;
}
.image-success-registration-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:40px
}
.image-success-registration-container img{
  max-width: 100%;
}
.image-success-registration-title{
  margin-bottom: 50px;
}

.custom-loader{
  grid-column:1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #00BDD3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00BDD3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}


@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 576px){
  .form-block-container, .users-block-container {
    padding: 0px 16px;
  }
  .header {
    padding: 13px 16px;
  }
  .picture-block-container{
    height:500px;
  }
  .input-forms-container{
    width: 328px
  }
  .blocks-container{
    width: 100%;
  }
  .discription-container{
    width: 328px;
  }
  .users-list{
  grid-template-columns: repeat(1, 328px);
  grid-gap: 20px;
}
}
@media screen and (min-width: 577px) and (max-width:768px){
  .form-block-container, .users-block-container {
    padding: 0px 32px;
  }
  .header {
    padding: 13px 32px;
  }
  .picture-block-container{
    height:500px;
  }
  .blocks-container{
    width: 100%;
  }
  .users-list{
    grid-template-columns: repeat(2, 248px);
    grid-gap: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width:1023px){
  .form-block-container, .users-block-container {
    padding: 0px 60px;
  }
  .header {
    padding: 13px 32px;
  }
  .blocks-container{
    width: 100%;
  }
  .users-list{
    grid-template-columns: repeat(2, 344px);
    grid-gap: 16px;
  }
}
@media screen and (min-width: 1024px) and (max-width:1199px){
  .form-block-container, .users-block-container {
    padding: 0px 60px;
  } 
  .header {
    padding: 13px 60px;
  } 
  .blocks-container{
    width: 1024px;
  }
  .users-list{
    grid-template-columns: repeat(3, 282px);
    grid-gap: 29px;
  }
}